

      
          <div class="p-5 mb-4 rounded-3 text-white" id="jumbotron">
            <div class="container-fluid py-5" >
                <div class="row">
                    <div class="col-7" id="jambotron_glavno_tekst">
                        <h1 class="display-5 fw-bold">На правом сте месту!</h1>
                        <p class="col-md-8 fs-4" id="jambotron_opis">Идеално место за редизајн вашег топлог дома.</p>
                        <button class="btn btn-primary btn-lg" type="button" routerLink="pregled_agencija">Претражите агениције</button>
                    </div>
                    <div class="col" id="jambotron_slika_kontejner">
                        <img  src="../../assets/images/crtez_kuca_pocetna.svg" id="jambotron_slika"/>
                    </div>
                </div>
            </div>
          </div>
      
          <div class="row align-items-md-stretch">
            <div class="col-md-6">
              <div class="h-100 p-5 text-white rounded-3" id="klijent">
                <h2>Пронашли сте праву агенцију?</h2>
                <p>Онда је време да нам се придружите!</p>
                <a class="btn btn-outline-light" routerLink="registracija/klijent">Региструј се</a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="h-100 p-5 rounded-3" id="agencija">
                <h2>Желите да понудите своје услуге?</h2>
                <p>Онда сте дошли на право место!</p>
                <button class="btn btn-outline-secondary" type="button" >Региструј агенцију</button>
              </div>
            </div>
          </div>
      
